body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.cart {
    margin-top: 10px;
    font-size: 1.2em;
}

.product-list {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.product img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    background-color: #259e3f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #1e5c2b;
}

.cart-items {
    margin-top: 30px;
}

.cart-items ul {
    list-style: none;
    padding: 0;
}

.cart-items ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
